### use # to comment out the configure item

############ status ############
mode=train
#string: train/interactive_predict

############ Datasets(Input/Output) ############
datasets_fold=data
train_file=test
#train_file=toutiao_cat_data.txt
checkpoint_dir=checkpoints
checkpoint_name=bert-base-chinese
vocabs_dir=data/vocabs
log_dir=data/logs


############ Model Configure ###########
max_sequence_length=256
batch_size=32
max_to_keep=5
learning_rate=1e-5
epoch=20
optimizer=Adam
use_bert=false
print_per_batch=10
is_early_stop=True
patient=3
dropout_rate=0.3
# TextCNN model configure
num_filters=64
use_attention=True
attention_size=300
embedding_method=random
embedding_dim=512

measuring_metrics=[accuracy]
# string accuracy | precision | recall | f1


pb_model_sava_dir=saved_model